.precontainer{
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(85,88,86,1) 35%, rgba(77,103,244,1) 43%, rgba(223,223,223,1) 53%, rgba(147,219,234,1) 69%, rgba(0,212,255,1) 100%);

}

.container{
    background-color: rgb(175, 173, 173);
    display:flex;
    width: 30%;
    margin:0 auto;
}
.attribution {
    border-radius: 5px 0 0 5px;
    font-size: 21px; 
    text-align:center; 
}

img{
    width: 100%;
}

