.container{
    background-color: rgb(175, 173, 173);
    display:flex;
    width: 30%;
    margin:0 auto;
}
.attribution { 
               font-size: 21px; 
               text-align:center; 
}

img{
    width: 100%;
}

